extends ../layout.pug

block content
    h1 Market
    #list
        -if(postlist != undefined)
            ul
                -for(i = 0; i < postlist.length; i++)
                    li
                        a(href=`/view/market/${postlist[i].id}`) #{postlist[i].title} / #{postlist[i].user.username} / #{postlist[i].created}
