.DS_Store
*.DS_Store
*/.DS_Store

frontend/node_modules/
BackEnd/node_modules/

uitda.code-workspace
BackEnd/my.js
frontend/src/components/Manage/ManageEdit/EditComponents/EditCarpool/Subcomponents/Calendar_Yuho.js
frontend/src/components/Carpool/Calendar.js
frontend/src/components/Carpool/Calendar.css
