.SearchIcon {
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    background-color: #1E90FF;
    color: white;
    text-align: center;
    line-height: 4rem;
    cursor: pointer;

    opacity: 1;
    visibility: visible;

    transition: opacity 0.5s, 
                visibility 0.5s;
}

.SearchIcon.hidden {
    opacity: 0;
    visibility: hidden;
}