doctype html
html
  head
    title Uitda
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #navi_bar
      a(href='/') [home]
      a(href='/market') [market]
      a(href='/networking') [networking]
      a(href='/carpool') [carpool]
      a(href='/manage') [manage]
      a(href='/chatting') [chatting]
      -if(request.user)
        a(href='/logout') [#{request.user.username}/logout]
      -else
        a(href='/login') [login]
    block content
