doctype html
html
  head
    title Uitda
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #navi_bar
      a(href='/api/') [home]
      a(href='/api/market') [market]
      a(href='/api/networking') [networking]
      a(href='/api/carpool') [carpool]
      a(href='/api/manage') [manage]
      a(href='/api/chatting') [chatting]
      -console.log(user);
      -if(user)
        a(href='/api/logout') [#{user.username}/logout]
      -else
        a(href='/api/login') [login]
    block content
