doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a(href='/') [uitda]
      a(href='/market') [market]
      a(href='/networking') [networking]
      a(href='/carpool') [carpool]
      a(href='/manage') [manage]
      a(href='/cahtting') [chatting]
      a(href='/login') [login]
    block content
