extends layout.pug

block content
    #menu
        br
        li 
            a(href='/manage/market-posts') market 관리
        li 
            a(href='/manage/networking-posts') networking 관리
        li 
            a(href='/manage/carpool-posts') carpool 관리
        li 
            a(href='/manage/proposal') 오류,제안
        li 
            a(href='/manage/leave') 탈퇴하기
    block menu