.Container_Left {
    background-color: #1E90FF;
    position: fixed;

    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;

    box-shadow: 4px 0px 4px rgba(0,0,0,.2);
}

.Container_Left .Image{
  text-align: center;
  padding: 130px 0px 40px;
}

.Container_Left .Image img{
    width: 55%;
}

.Container_Left .Description{
    text-align: center;
    color: White;
}

.Container_Left .Description h1{
    margin-bottom: 25px;
    color: White;
}

.Container_Left .Description p{
    margin-bottom: 110px;
    line-height: 30px;
}

.Container_Left .Button{
    background-color: white;
    margin: 0px 190px 0px 190px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin-bottom: 35px;
    height: 50px;
}

.Container_Left .Button img{ 
    width:22px;
    margin-right: 12px;
}

.Container_Left .Privacy{
    text-align: center;
    font-size: small;
    color: rgb(241, 243, 245);
}



.Container_Right {
    position: fixed;
    height: 100%;
    width: 60%;
    top: 70px;
    right: 0;
}

.Container_Right .Notice img{
    width: 300px;
    margin-left: 150px;
}

.Container_Right .Block{
    display: flex;
    flex-direction: row;
    margin: 20px 140px 20px 140px;
    height: 20%;
}

.Container_Right .Block .Block_Description{
    color:#56565a;
    line-height: 25px;
}

.Container_Right .Block .Block_Image img{
    margin-right: 60px;
    width: 100px;
}

.Container_Right .Block .Block_Image img:hover{
    cursor: pointer
}


