extends ../layout.pug

block content
    h1 Manage
    ul(id="menu")
        li
            a(href='/view/manage/market-posts') market 관리
        li
            a(href='/view/manage/networking-posts') networking 관리
        li
            a(href='/view/manage/carpool-posts') carpool 관리
        li
            a(href='/view/manage/proposal') 오류,제안
        li
            a(href='/view/manage/account') 계정 정보
    block menu
