extends ../layout.pug

block content
    h1 Manage
    ul(id="menu")
        li 
            a(href='/api/manage/market-posts') market 관리
        li 
            a(href='/api/manage/networking-posts') networking 관리
        li 
            a(href='/api/manage/carpool-posts') carpool 관리
        li 
            a(href='/api/manage/proposal') 오류,제안
        li 
            a(href='/api/manage/account') 계정 정보
    block menu