extends ../layout.pug

block content
    #form
        form(action=`/api/manage/market-posts/update/${post.id}` method=`post`)
            input(type=`hidden` name=`id` value=`${post.id}`)
            p
                input(type=`text` name=`title` placeholder=`title` value=`${post.title}`)
            p
                textarea(name="description" placeholder="description") #{post.description}
            p
                input(type="submit")