extends layout.pug

block menu
    h3 Market
    #create
        a(href='/view/manage/market-posts/create') [글쓰기]
    #list
        -if(postlist != undefined)
            ul
                -for(i = 0; i < postlist.length; i++)
                    li
                        a(href=`/view/market/${postlist[i].id}`) #{postlist[i].title}
                        form(action=`/view/market/delete` method=`post`)
                            input(type=`hidden` name=`id` value=`${postlist[i].id}`)
                            input(type=`submit` value=`delete`)
                        a(href=`/view/manage/market-posts/update/${postlist[i].id}`) update
