extends ../layout.pug

block content
    #form
        form(action="/manage/networking-posts/create" method="post" enctype='multipart/form-data')
            p
                input(type="text" name="title" placeholder="title")
            p
                input(type='file' name='userfile' multiple/)
            p
                textarea(name="description" placeholder="description")
            p
                input(type="submit")