extends ../layout.pug

block content
    #form
        form(action="/manage/networking-posts/create" method="post" enctype='multipart/form-data')
            p
                input(type="text" name="title" placeholder="title")
            p
                input(id="image_uploads" type='file' name='userfile' accept=".jpg, .jpeg, .png" multiple/)
                label(for="image_uploads") Choose images to upload (PNG, JPG)
            p
                textarea(name="description" placeholder="description")
            p
                input(type="submit")