.Search-Bar {
    display: inline-flex;
    width: 70%;
    background-color: #ffffff;
    height: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.Search-Bar .Search-TextArea {
    border: none;
    height: auto;
    font-size: .875rem;
    padding: .6em 1em;
    width: 90%;
}

.Search-Bar .Search-TextArea:focus {
    outline: none;
    color: #1E90FF;
	text-shadow: 0px 0px 0px black;  
	-webkit-text-fill-color: transparent;
}

.Search-Bar .SearchBotton {
    color: #1E90FF;
    background-color: #ffffff;
    width: 10%;
    font-size: .75rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border-left: 2px solid #f4f4f4;
}