.LoadingBar {
    height: .2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.LoadingBar .bar {
    height: 100%;
    width: 100%;
    background-color: #1E90FF;
    transition: width 1s;
}

.LoadingBar .bar.not-loading {
    height: 0;
    width: 0%;
}