/* html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    font-size: 14px; 
}
  
.Calendar {
    max-width: 900px;
    margin: 40px auto;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
  
.modal_ul { 
  line-height: 40px; 
}

.modal_direction{
  background-color: yellow;
}

.modal_description{
  background-color: #F2F2F2;
  padding: 20px 20px 20px 20px;
  margin: 10px 20px 20px 20px;
  border-radius: 5px 5px 5px 5px;
}

.modal_condition{
  text-align: center;
  color: #FA5858;
  text-decoration: underline;
  margin-bottom: 5px;
}

.CarpoolTemplate{
  margin-top: 80px;
} */


/* 캘린더 header의 center 부분 스타일 */
.fc-center {
  display: flex;
  flex-flow: row nowrap;
}

.fc-center > h2 {
  margin: 0 2rem!important;
}

.fc-center .fc-button {
  margin: 0;
}

/* 캘린더 day box의 스타일 */
.fc-day {
  cursor: pointer;
  background-color: #1E90FF;
  opacity: 0;
  transition: opacity 0.2s;
}

.fc-unthemed td.fc-today {
  background-color: #1E90FF;
}

.fc-day:hover {
  /* background-color: #E6F7FF; */
  opacity: 0.1!important;
}

.fc-day:active {
  /* background-color: #BAE7FF; */
  opacity: 0.2!important;
}


.fc-day-header {
  background-color: #FCF8E3;
}

/* 캘린더 date 텍스트 스타일 */
.fc-sun {
  color: red;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
}

.fc-dayGrid-view .fc-day-number {
  padding: 0.25rem;
}