extends ../layout.pug

block content
    h1 Networking
    #list
        -if(postlist != undefined) 
            ul
                -for(i = 0; i < postlist.length; i++)
                    li
                        a(href=`/networking/${postlist[i].id}`) #{postlist[i].title}